@import "base/variables";
* {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "fontello";
}

// * {
//   font-family: "fontello", sans-serif;
// }

.container {
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header.scss";
