.consultation {
  padding: 100px 0 92px 0;
  background: url(../img/consultation.jpeg) center (center/cover) no-repeat;
  &__desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    border: none;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
  }
}
